<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net452" />
  <package id="nunit.framework" version="2.63.0" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net452" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.00" targetFramework="net452" />
  <package id="Selenium.Support" version="3.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.EdgeDriver" version="3.14393" targetFramework="net452" />
  <package id="Selenium.WebDriver.WaitExtensions" version="1.0.0" targetFramework="net452" />
  <package id="WebDriver.GeckoDriver" version="0.11.1" targetFramework="net452" />
</packages>